# Modelo público que demonstra quais variáveis de ambiente devem ser configuradas no arquivo .env original.

DB_HOST=manutencao-thaf-samanutencao.b.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=123
DB_PORT=16536
DB_NAME=Manutencao